@import url('./fonts.css');
@import 'tailwindcss/base';

/* Running Strings */

.running-title { string-set: article-title content(); }
.running-authors { string-set: author-names content(); }

.running-title,
.running-authors {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

/* Page */

@page :first {
    @top-left { content: none; }
    @top-right { content: none; }
}

@page clear-page {
    @top-left { content: none; }
    @top-right { content: none; }
    @bottom-left { content: none; }
    @bottom-center { content: none; }
    @bottom-right { content: none; }
}

/* Typography */

html {
    font-size: 10pt;
    font-family: librecaslon, serif;
    line-height: 1.5;
    &.text-md {
        font-size: 10pt;
    }
    &.text-lg {
        font-size: 12pt;
    }
}

/* Footnotes */

footnote {
    float: footnote;
    font-size: 0.8rem;
}

::footnote-call {
    content: counter(footnote, decimal);
    vertical-align: 0.3rem;
    font-size: 0.7rem;
}

::footnote-marker {
    content: counter(footnote, decimal) ". ";
    width: 1.25rem;
    text-align: right;
    position: absolute;
    left: 0;
}

/* Header */

.header {
    page: clear-page;
    break-before: right;
    text-align: center;
    margin-bottom: 15mm;
    > * + * {
        margin-top: 0.75rem;
    }
    &-translation {
        padding: 5mm;
        margin: 0 auto;
        margin-bottom: 1.5rem;
        font-size: 0.85rem;
        color: #ffffff;
        background-color: #E06C56;
        text-align: left;
    }
    &-logo {
        width: 60mm;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    &-label {
        text-transform: uppercase;
        font-size: 1.2rem;
    }
    &-title {
        font-size: 2.5rem;
    }
    &-authors {
        font-size: 1.2rem;
    }
}

/* Table of Contents */

.entry-toc {
    page-break-before: always;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    > * + * {
        margin-top: 0.75rem;
    }
    ul ul {
        margin-left: 1rem;
    }
    a {
        text-decoration: none;
        &::after {
            content: leader('.') ' ' target-counter(attr(href), page);
        }
    }
}

/* Metadata */

.citation {
    margin-bottom: 1.5rem;
    > * + * {
        margin-top: 0.75rem;
    }
    &-label {
        text-transform: uppercase;
        & + * {
            margin-top: 0.25rem;
        }
    }
}

.legal-text {
    margin-bottom: 1.5rem;
    background-color: #f4e8d7;
    padding: 5mm;
    > * + * {
        margin-top: 0.75rem;
    }
}

/* Content */

.content {
    page-break-before: always;
    > * + * {
        margin-top: 0.75rem;
    }
    p {
        text-align: justify;
        orphans: 2;
        widows: 2;
        overflow-wrap: break-word;
        hyphens: auto;
        -webkit-hyphens: auto;
    }
    .paragraph-nr {
        width: 1rem;
        text-align: right;
        position: absolute;
        left: -1.75rem;
        font-size: 0.8rem;
        color: #707070;
        margin-top: 0.2rem;
    }
    h1, h2 {
        font-size: 1.2rem;
        margin-top: 1.6rem;
        text-transform: uppercase;
        break-after: avoid;
    }
    h3 {
        font-size: 1.2rem;
        margin-top: 1.2rem;
        break-after: avoid;
    }
    h4, h5, h6 {
        margin-top: 1.1rem;
        font-size: 1.1rem;
        break-after: avoid;
    }
    ul {
        list-style-type: disc;
        margin-left: 1.5rem;
    }
    ol {
        list-style-type: decimal;
        margin-left: 1.5rem;
    }
    ul, ol {
        li + li {
            margin-top: 0.5rem;
        }
    }
    a {
        text-decoration: underline;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    th, td {
        border: 1px solid black;
        padding: 0.3rem 0.5rem;
        text-align: left;
        hyphens: auto;
        overflow-wrap: break-word;
    }
    th {
        font-weight: bold;
    }
}
