@import url('./fonts.css');

@page {
    size: A4;
    margin: 1.5cm 1.5cm 2.5cm 1.5cm;
    @bottom-right {
        content: counter(page);
    }
}
html {
    font-size: 10pt;
    font-family: librecaslon, serif;
    line-height: 1.4;
}




.toc a::after {
    content: target-counter(attr(href), page);
}
footnote {
    float: footnote;
} 